// // Import all of Bootstrap's CSS
// @import "bootstrap/scss/bootstrap";

/* SCSS HEX COLOR PALATTE*/
$eerie-black: #232323ff;
$cadet-gray: #9aadbfff;
$air-superiority-blue: #6d98baff;
$lemon-chiffon: #fffaccff;
$tea-green: #cbefb6ff;

$speed: 1.5s;
$chars: 13;

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

// Functions required to import first
// @import "../node_modules/bootstrap/scss/functions";

// Default variable overrides
$body-bg: $eerie-black;
$body-color: $lemon-chiffon;
$font-family-base: "Source Code Pro", monospace;

// // Required components to import after overriding variables
/*@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";*/

// Optional Bootstrap components here
// Layout../node_modules/bootstrap/scss/ & components
/*@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/tables";
@import "../node_modules/bootstrap/scss/forms";
@import "../node_modules/bootstrap/scss/buttons";
@import "../node_modules/bootstrap/scss/transitions";
@import "../node_modules/bootstrap/scss/dropdown";
@import "../node_modules/bootstrap/scss/button-group";
@import "../node_modules/bootstrap/scss/nav";
@import "../node_modules/bootstrap/scss/navbar";
@import "../node_modules/bootstrap/scss/card";
@import "../node_modules/bootstrap/scss/accordion";
@import "../node_modules/bootstrap/scss/breadcrumb";
@import "../node_modules/bootstrap/scss/pagination";
@import "../node_modules/bootstrap/scss/badge";
@import "../node_modules/bootstrap/scss/alert";
@import "../node_modules/bootstrap/scss/progress";
@import "../node_modules/bootstrap/scss/list-group";
@import "../node_modules/bootstrap/scss/close";
@import "../node_modules/bootstrap/scss/toasts";
@import "../node_modules/bootstrap/scss/modal";
@import "../node_modules/bootstrap/scss/tooltip";
@import "../node_modules/bootstrap/scss/popover";
@import "../node_modules/bootstrap/scss/carousel";
@import "../node_modules/bootstrap/scss/spinners";
@import "../node_modules/bootstrap/scss/offcanvas";
@import "../node_modules/bootstrap/scss/placeholders";*/


@import "../node_modules/bootstrap/scss/bootstrap";


.hero {
    height: 90vh;


    #writer {
        position: relative;
    }

    #writer::before,
    #writer::after {
        content: "";
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        position: absolute;
    }

    #writer::before {
        background: $body-bg;
        animation: writer $speed steps($chars) forwards 1s;
    }

    #writer::after {
        width: 0.1em;
        background: white;
        animation:
            writer $speed steps($chars) forwards 1s,
            blinker 0.8s infinite $speed + 1.5s;
    }

    @keyframes writer {
        to {
            left: 100%;
        }
    }

    @keyframes blinker {
        to {
            background: transparent;
        }
    }

    #subtitle {
        opacity: 0;
        color: $tea-green;
        transform: translateX(-2rem);
        animation: fadeIn 2s $speed+1s ease forwards;
    }

}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.about {
    opacity: 0;
    transform: translateY(2rem);
    animation: fadeIn 2s $speed+2s ease forwards;
}

.projects {}

.footer {}